*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 1300px;
    height: 800px;
    border: 1px solid grey;
}

.header{
    width: 1300px;
    height: 150px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:flex-start;
    align-content:flex-start;
    background-color: #29507b;
    color: white;
}

.logo{
    margin-left: 10px;
}

.main{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
}

.navbar{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-items:flex-end;
    align-content:flex-end;
}

.menu ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    list-style: none;
    
}

.menu ul li {
    margin-left: 30px;
    margin-top: 38px;
    background-color: #3a71ae;
    padding: 20px;
}

.menu ul li a{
    text-decoration: none;
    color: white;
}

.menu ul li a:hover{
    color: #29507b;
}

.search {
    margin-top: 20px;
    padding-left: 550px;
}

.slide{
    width: 900px;
    height: 600px;

    display: flex;
    flex-direction: column;
}

.slide-bar{
    width: 400px;
    height: 600px;

}

.footer{
    width: 1300px;
    height: 50px;
    border: 1px solid grey;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
}

.content{

    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:flex-start;
    align-items:flex-start;
    align-content:flex-start;
}

.heading-slide{
    border-bottom: 3px dotted grey;
    width: 900px;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.content-left{
    width: 550px;
    height: 460px;
    padding-right: 20px;
}

.content-center{
    width: 350px;
    height: 460px;
    display:flex;
    flex-direction:column;
}

.content-center-heading{
    width: 350px;
    height: 60px;
}

.content-center-text{
    width: 350px;
    height: 400px;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:flex-start;
    align-content:flex-start;
}

.content-center-text ul{
    list-style: none;
    margin-right: 100px;  
}

table{
    margin: 10px;
    width: 550px;
    height: 180px;
}

td{
    padding-right: 20px;
}

input{
    padding: 5px;
    padding-right: 20px;
}

textarea{
    width: 500px;
    height: 100px;
}

button{
    padding: 3px;
}

.khung{
    margin-top: 80px;
    width: 320px;
    height: 450px;
    background-color: #f1f2f3;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:flex-start;
    align-content:center;
}

.footer{
    background-color: #29507b;
    color: white;
}

.footer address{
    margin-left: 20px;
    margin-top: 10px;
}